body {
margin: 0;
padding: 0;
background-color: grey;
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.container{
  width: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
}

.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid skyblue;
  border-radius: 10px;
   overflow: hidden;
}

.cityInput{
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

.temp,
.location,
.country {
margin-top: 5px;
font-size: 35px;
color: black;
text-transform: uppercase;
text-align:center;
}

.temp{
  font-weight: 500;
}

.location {
   color: orange;
   font-weight: 400;
   font-size: 40px;
}

.country{
    font-size: 18px;
    color: grey;
    font-weight: 500;
}

.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cord div span{
  font-size: 14px;
}

.cord div span:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color:grey;
  padding-top: 5px;
}

.data-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element{
  text-align: center;
}

.text{
  font-size: 12px;
  color: grey;
}

.copyright{
  text-align: center;
  font-size: 12px;
  color: grey;
} 

.copyright span{
  color: black;
}

.loading-message,
.error-message,
.city-not-found {
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}